<header>
        {{!-- Navbar --}}
        {{> navbar }}
    </header>

    <div class= "container admin  my-5 "> 
    <h1 class="text-center">ADMINISTRADOR</h1>
    <hr>
  <div class="d-flex justify-content-end">
 <!-- Button trigger modal -->
<button type="button" class="btn btn-light  mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="bi bi-plus-square-fill"></i> Crear nuevo usuario</button>
{{>modal}}
</div>
  

<table class="table">
    <thead class="table-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Avatar</th>
      
    <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      
      <th scope="col">Email</th>
      <th scope="col">Acciones</th>
      {{!-- <th scope="col">Contraseña</th> --}}
    </tr>
  </thead>

    {{#each formattedResponse}}

      <tbody>
    <tr>
      <th scope="row">{{this.id}}</th> 

      <td><img src="{{this.foto}}" style="width: 50px; "></td>
      <td>{{this.name}}</td>
      <td>{{this.lastname}}</td>
      <td>{{this.email}}</td>
      
    <td> 
      <div>
        <a  href="/edit/{{this.id}}" class="btn btn-light" style="background-color:#b19ad6;" ><i class="bi bi-pencil-square"></i></a>
        <a href="/delete/{{this.id}}" class="btn btn-dark" style="background-color:#6C63FF;"><i class="bi bi-person-x-fill"></i></a>   
      </div>
        
         </td>
        </tr>
      </tbody>
      {{/each}}
    </table>
  </div>
</div>



